---
import { type CollectionEntry, getCollection } from 'astro:content'
import { isDev } from '@lib/config/environmentServer'
import PageLayout from '@layouts/PageLayout.astro'

import Carousel from '@components/Carousel/index.astro'

const allArticles = await getCollection('articles', ({ data }) => isDev() || data.isDraft !== true)

const allTags = await getCollection('tags')
const featuredTags = allTags.filter(tag => tag.data.featured === true)

const getArticlesForTag = (tagEntry: CollectionEntry<'tags'>) => {
  return allArticles.filter(article => {
    return article.data.tags.some(tagRef => tagRef.id === tagEntry.id)
  })
}

const tagsWithContent = featuredTags.filter(tag => getArticlesForTag(tag).length > 0)

const tagsWithNoContent = allTags.filter(tag => getArticlesForTag(tag).length === 0)

for (const tag of tagsWithNoContent) {
  console.warn(
    `Warning: there were no content items for tag ${tag.data.displayName}. You might consider removing this tag if it is unused.`
  )
}

const pageTitle = 'Technical Index'
const pageDescription = 'Browse documentation and guides structured by specific topics like Kubernetes, developer experience, and release engineering'
const path = '/tags'
---

<PageLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  path={path}
  icon="paper-and-pen"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="space-y-12">
      {
        tagsWithContent
          .sort((a, b) => a.data.displayName.localeCompare(b.data.displayName, 'en'))
          .map(tag => {
            const tagSlug = tag.data.slug
            const displayName = tag.data.displayName
            const articlesForTag = getArticlesForTag(tag)

            return (
              <section class="border-b border-trim pb-12 last:border-b-0">
                <Carousel
                  title={displayName}
                  titleHref={`/tags/${tagSlug}`}
                  variant="suggested"
                  limit={articlesForTag.length}
                  type="articles"
                  items={articlesForTag}
                  showReadMore={false}
                />
              </section>
            )
          })
      }
    </div>
  </div>
</PageLayout>
