---
import type { CollectionEntry } from 'astro:content'
import Icon from '@components/Icon/index.astro'
import { formatPhoneNumber } from '@components/Footer/server'

export interface Props {
  contactData: CollectionEntry<'contactData'>['data']
  email: string
}

const { contactData, email } = Astro.props as Props

const resumeLocation = `${contactData.company.city}, ${contactData.company.state}`
const resumePhoneNumber = formatPhoneNumber(contactData.company.telephoneTollFree)
---

<dl class="flex ml-1 gap-6 text-sm font-medium">
  {/** Email */}
  <a
    itemprop="email"
    href={`mailto:${email}`}
    class="group flex gap-2 hover:text-note-offset hover:decoration-note-offset transition-colors duration-200 print:no-underline"
  >
    <dt aria-label="email" class="text-content group-hover:text-note-offset mt-0.75">
      <Icon icon="email-solid" color="inherit" size={4} />
    </dt>
    <dd>{email}</dd>
  </a>

  {/** Location */}
  <a
    id="locationWrapper"
    itemprop="homeLocation"
    itemscope
    href={contactData.company.mapLink}
    class="group flex hover:text-note-offset hover:decoration-note-offset transition-colors duration-200 print:no-underline"
  >
    <dt aria-label="location" class="text-content group-hover:text-note-offset">
      <Icon icon="location" color="inherit" size={6} />
    </dt>
    <dd id="locationLabel" class="inline">{resumeLocation}</dd>
  </a>

  {/** Telephone */}
  <a
    id="telephoneWrapper"
    itemprop="telephone"
    itemscope
    href={`tel:${contactData.company.telephoneTollFree}`}
    class="group flex gap-2.5 hover:text-note-offset hover:decoration-note-offset transition-colors duration-200 print:no-underline"
  >
    <dt aria-label="telephone" class="text-content group-hover:text-note-offset">
      <Icon icon="telephone" color="inherit" size={6} />
    </dt>
    <dd id="telephoneLabel" class="inline">1 {resumePhoneNumber}</dd>
  </a>
</dl>
