---
import type { RenderedClient } from '@components/Pages/Resume/server'
import { formatMonthYear, formatDateContent, splitLocation } from '@components/Pages/Resume/server'
import Icon from '@components/Icon/index.astro'
import List from '@components/List/index.astro'
import ListItem from '@components/List/ListItem.astro'

export interface Props {
  renderedClients: RenderedClient[]
}

const { renderedClients } = Astro.props as Props
---

<section id="experience">
  <h2
    class="text-sm font-mono font-bold tracking-widest text-content-offset print:text-content uppercase p-3 border-2 border-dashed border-gray-400 rounded-md"
  >
    Past Clients
  </h2>
  <ul class="mt-4!">
    {
      renderedClients.map(({ client, Content }: RenderedClient, index: number) => {
        const location = splitLocation(client.data.location)
        return (
          <li
            id={`experienceItem-${index + 1}`}
            class:list={[
              'flex flex-col gap-1.5 print:block print:space-y-1.5 print:break-inside-auto mb-6 last:mb-0',
              { 'print:break-before-page': index === renderedClients.length - 1 },
            ]}
            itemprop="worksFor"
            itemscope
            itemref="resumeSubject"
            itemtype="http://schema.org/Organization"
          >
            <div class="flex flex-col md:flex-row md:items-baseline md:justify-between">
              {/** Job Title */}
              <h3
                id={`role-${index + 1}`}
                class="text-xl font-bold text-primary-offset"
                itemprop="Role"
                itemref={`experienceItem-${index + 1}`}
                itemscope
                itemtype="https://schema.org/EmployeeRole"
              >
                <span itemprop="roleName">
                  {client.data.role ?? client.data.businessType ?? client.data.displayName}
                </span>
              </h3>
              {/** Start and End Dates */}
              <div class="text-md font-medium text-content-offset mt-0.5 flex gap-1.5 items-center">
                <time
                  itemprop="startDate"
                  itemtype="http://schema.org/startDate"
                  datetime={formatDateContent(client.data.startDate)}
                >
                  {formatMonthYear(client.data.startDate)}
                </time>
                <span class="text-trim/50">&mdash;</span>
                <time
                  itemprop="endDate"
                  itemtype="http://schema.org/endDate"
                  datetime={formatDateContent(client.data.endDate)}
                >
                  {formatMonthYear(client.data.endDate)}
                </time>
              </div>
            </div>
            {/** Company Name and Location */}
            <div class="text-primary-offset flex flex-wrap items-center gap-x-3 gap-y-1">
              <a
                class="inline-flex items-center text-danger-offset decoration-danger-offset transition-colors hover:text-danger hover:decoration-danger font-medium mb-1 print:text-content print:decoration-none"
                href={client.data.website ?? ''}
                itemprop="location"
                itemscope
                itemtype="http://schema.org/PostalAddress"
              >
                <span itemprop="legalName" class="font-semibold text-lg text-danger-offset">
                  {client.data.displayName}
                </span>
              </a>
              {client.data.location && (
                <div class="flex">
                  <Icon icon="location" color="inherit" size={5} />
                  <span>
                    <span itemprop="addressLocality">{location.locality}</span>,
                    <span itemprop="addressRegion">{location.region}</span>
                  </span>
                </div>
              )}
            </div>
            <div class="experienceDetailContent" itemprop="description">
              <Content components={{ List, ListItem }} />
            </div>
            {index < renderedClients.length - 1 && (
              <div aria-hidden="true" class="mt-4 border-b-2 border-dashed border-gray-400" />
            )}
          </li>
        )
      })
    }
  </ul>
</section>
