---
/**
 * WebMentions component
 * Displays webmentions for a given URL from webmention.io.
 *
 * Data is loaded client-side through an Astro Action so prerendered pages do
 * not block on a dynamic third-party service during build or page render.
 *
 * @see https://webmention.io/
 * @see https://brid.gy/ for social media integration
 */
import Icon from '@components/Icon/index.astro'

export interface Props {
  /** The absolute URL of the page to fetch webmentions for */
  url: string
  /** Show the facepile of recent mentions */
  showFacepile?: boolean
  /** Maximum number of faces to show in facepile */
  facepileLimit?: number
}

const { url, showFacepile = true, facepileLimit = 5 } = Astro.props
const iconBankId = `webmentions-icon-bank-${Math.random().toString(36).slice(2)}`
---

<div id={iconBankId} hidden aria-hidden="true">
  <span data-webmentions-icon="heart-filled">
    <Icon icon="heart-filled" size={5} color="content-active" />
  </span>
  <span data-webmentions-icon="background-broken">
    <Icon icon="background-broken" size={5} color="content-lighter" />
  </span>
</div>

<web-mentions
  class="print:hidden!"
  url={url}
  show-facepile={showFacepile}
  facepile-limit={facepileLimit}
  icon-bank-id={iconBankId}
></web-mentions>

<script>
  import { registerWebMentionsComponent } from '@components/WebMentions/client'

  registerWebMentionsComponent()
</script>
