---
import BaseLayout from '@layouts/BaseLayout.astro'
import Table from '@components/Table/index.astro'
import { tableContent } from '@content/articles/demo/index.ts'

const pageDescription = 'Table Style Variants'
const pageTitle = 'Table Style Variants'
const path = '/testing/comps/tables'
---

<BaseLayout pageDescription={pageDescription} noindex={true} pageTitle={pageTitle} path={path}>
  <div class="my-12">
    <h1 class="mb-12">Table Component Layouts</h1>

    <section>
      <h2>criteria-highlight-table</h2>
      <Table variant="criteria-highlight-table" content={tableContent.baseTableContent} />
    </section>

    <section>
      <h2>grid-and-accent-header-table</h2>
      <Table variant="grid-and-accent-header-table" content={tableContent.baseTableContent} />
    </section>

    <section>
      <h2>minimal-borders-table</h2>
      <Table variant="minimal-borders-table" content={tableContent.baseTableContent} />
    </section>

    <section>
      <h2>numbered-review-table</h2>
      <Table variant="numbered-review-table" content={tableContent.baseTableContent} />
    </section>

    <section>
      <h2>report-table</h2>
      <Table variant="report-table" content={tableContent.reportTableContent} />
    </section>

    <section>
      <h2>semantic-coloring-table</h2>
      <Table variant="semantic-coloring-table" content={tableContent.semanticTableContent} />
    </section>

    <section>
      <h2>soft-header-card-table</h2>
      <Table variant="soft-header-card-table" content={tableContent.softHeaderCardContent} />
    </section>

    <section>
      <h2>sticky-header-table</h2>
      <Table variant="sticky-header-table" content={tableContent.baseTableContent} />
    </section>

    <section>
      <h2>striped-rows-table</h2>
      <Table variant="striped-rows-table" content={tableContent.baseTableContent} />
    </section>

    <section>
      <h2>timeline-labels-table</h2>
      <Table variant="timeline-labels-table" content={tableContent.timelineTableContent} />
    </section>

    <section>
      <h2>vertical-column-delineation-table</h2>
      <Table variant="vertical-column-delineation-table" content={tableContent.baseTableContent} />
    </section>
  </div>
</BaseLayout>
