---
import type { CollectionEntry } from 'astro:content'
import type { RenderedClient } from '@components/Pages/Resume/server'
import HeadContent from '@components/Head/index.astro'
import Contact from '@components/Pages/Resume/partials/Contact.astro'
import Controls from '@components/Pages/Resume/partials/Controls.astro'
import Experience from '@components/Pages/Resume/partials/Experience.astro'
import Languages from '@components/Pages/Resume/partials/Languages.astro'
import Persona from '@components/Pages/Resume/partials/Persona.astro'
import Skills from '@components/Pages/Resume/partials/Skills.astro'
import Socials from '@components/Pages/Resume/partials/Socials.astro'
import Summary from '@components/Pages/Resume/partials/Summary.astro'

import '@styles/index.css'
import '@styles/icons.css'

export interface Props {
  contactData: CollectionEntry<'contactData'>['data']
  pageDescription: string
  pageTitle: string
  path: string
  renderedClients: RenderedClient[]
  resume: CollectionEntry<'resume'>['data']
}

const {
  contactData,
  pageDescription,
  pageTitle,
  path,
  renderedClients,
  resume,
} = Astro.props as Props
---

<!doctype html>
<html
  lang="en"
  data-theme="light"
  class="h-auto min-h-full overflow-y-auto"
>
  <head>
    <HeadContent pageTitle={pageTitle} pageDescription={pageDescription} path={path} />
    <style>
      @page {
        margin: 2cm;
      }
    </style>
  </head>
  <body
    itemtype="http://schema.org/Person"
    class="h-auto min-h-full overflow-y-auto text-content font-sans leading-6 [font-smoothing:antialiased] md:flex md:justify-center print:bg-white"
  >
    {/** Use wrapper to keep resume centered on desktop */}
    <div class="relative bg-primary-inverse mx-auto w-full max-w-4xl p-6 md:p-12 my-14 lg:p-16 md:shadow-xl print:shadow-none print:p-0 print:my-0">
      <header
        itemscope
        itemref="resumeSubject"
        class="relative mb-4!"
      >
        <div class="md:absolute md:right-0 md:top-0">
          <Controls />
        </div>

        <div>
          <Persona
            givenName={resume.firstName}
            familyName={resume.lastName}
            title={resume.title}
          />
        </div>

        <div class="mt-2!">
          <Contact
            contactData={contactData}
            email={`info@webstackbuilders.com`}
          />
        </div>
      </header>

      <main class="space-y-4!">
        <div>
          <Summary summary={resume.summary} />
        </div>

        <div>
          <Experience renderedClients={renderedClients} />
        </div>

        <div>
          <Skills skills={resume.skills} />
        </div>

        <div>
          <Languages languages={resume.languages} />
        </div>

        <div>
          <Socials socials={contactData.company.social} />
        </div>
      </main>
    </div>
  </body>
</html>

<style>
  {/** DO NOT ADD STYLES HERE - Use Tailwind classes on HTML elements, this are resets */}

  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
</style>
