---
export type Props = {
  content: {
    caption?: string
    subcaption?: string
    thead?: {
      th: string[]
    }
    tbody: {
      tr: {
        th?: string
        td: string[]
      }[]
    }
    tfoot?: {
      tr: {
        th?: string
        td: string[]
      }[]
    }
  }
  classes?: {
    table?: string
    caption?: string
    thead?: string
    tbody?: string
    tfoot?: string
  }
}

const { content, classes }: Props = Astro.props

const tableClass = ""
const captionClass = ""
const headerClass = ""
const textClass = ""
const theadClass = ""
const tbodyClass = ""
const tfootClass = ""
---

<table class:list={[tableClass, classes?.table]}>
  {content.caption && (
    <caption class:list={[captionClass, classes?.caption]} set:html={content.caption}></caption>
  )}
  {content.subcaption && (
    <caption class:list={[captionClass, classes?.caption]} set:html={content.subcaption}></caption>
  )}

  {content.thead && (
    <thead class:list={[theadClass, classes?.thead]}>
      <tr>
        {content.thead.th.map((th) => (
          <th scope="col" class:list={[headerClass, classes?.thead]} set:html={th}></th>
        ))}
      </tr>
    </thead>
  )}

  <tbody class:list={[tbodyClass, classes?.tbody]}>
    {content.tbody.tr.map((row) => (
      <tr>
        {row.th && (
          <th scope="row" class:list={[headerClass, classes?.tbody]} set:html={row.th}></th>
        )}
        {row.td.map((td) => (
          <td class:list={[textClass, classes?.tbody]} set:html={td}></td>
        ))}
      </tr>
    ))}
  </tbody>

  {content.tfoot && (
    <tfoot class:list={[tfootClass, classes?.tfoot]}>
      {content.tfoot.tr.map((row) => (
        <tr>
          {row.th && (
            <th scope="row" class:list={[headerClass, classes?.tfoot]} set:html={row.th}></th>
          )}
          {row.td.map((td) => (
            <td class:list={[textClass, classes?.tfoot]} set:html={td}></td>
          ))}
        </tr>
      ))}
    </tfoot>
  )}
</table>
