---
import Avatar from '@components/Avatar/index.astro'

export interface Props {
  author?: string
  modifiedDate?: Date
  publishDate?: Date
  readingTime?: string
}

const { modifiedDate, publishDate, author, readingTime } = Astro.props

const formatShortDate = (date: Date) =>
  date.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
    timeZone: 'UTC',
  })

const publishDateText = publishDate ? formatShortDate(publishDate) : null
const shouldShowModifiedDate = Boolean(modifiedDate && publishDate && modifiedDate.getTime() !== publishDate.getTime())
const modifiedDateText = shouldShowModifiedDate && modifiedDate ? formatShortDate(modifiedDate) : null
---

<div class="mt-4 pt-4 border-t border-trim">
  <div class="flex items-center gap-3">
    {author && <Avatar name={author} lead />}

    <div class="flex flex-col justify-center text-sm">
      <div class="text-primary">
        {author && (
          <a
            href="/about"
            class="font-medium underline decoration-dotted decoration-current hover:text-secondary focus:text-secondary"
          >
            {author}
          </a>
        )}
        {author && publishDateText && <span class="text-content-offset">{' '}on{' '}</span>}
        {publishDateText && (
          <time itemprop="datePublished" datetime={publishDate?.toISOString()}>
            {publishDateText}
          </time>
        )}
      </div>

      {modifiedDateText && (
        <time class="text-content-offset" itemprop="dateModified" datetime={modifiedDate?.toISOString()}>
          Updated on {modifiedDateText}
        </time>
      )}

      {readingTime && <div class="text-content-offset">{readingTime}</div>}
    </div>
  </div>
</div>
