---
import Icon from '@components/Icon/index.astro'
import type { ButtonType, IconPosition } from '@components/Button/server'

type Props = {
	id?: string | undefined
	type?: ButtonType | undefined
	onClick?: string | undefined
	disabled?: boolean | undefined
	classList: Record<string, boolean>
	ariaAttributes?: Record<string, string> | undefined
	icon?: string | undefined
	iconPosition?: IconPosition | undefined
	iconSize: number
	text?: string | undefined
	attributes?: Record<string, unknown> | undefined
}

const {
	id,
	type = 'button',
	onClick,
	disabled = false,
	classList,
	ariaAttributes = {},
	icon,
	iconPosition = 'left',
	iconSize,
	text,
	attributes = {},
} = Astro.props
---

<button
	type={type}
	class:list={classList}
	disabled={disabled}
	id={id}
	onclick={onClick}
	{...ariaAttributes}
	{...attributes}
>
	{icon && (iconPosition === 'left' || iconPosition === 'only') && (
		<Icon icon={icon} size={iconSize} classes={text ? 'mr-2' : ''} />
	)}
	{text && <span>{text}</span>}
	{icon && iconPosition === 'right' && (
		<Icon icon={icon} size={iconSize} classes="ml-2" />
	)}
	<slot />
</button>
