---
import { getCollection, render } from 'astro:content'
import HeadContent from '@components/Head/index.astro'

import '@styles/index.css'
import '@styles/icons.css'
import './index.css'

const [resumeEntry] = await getCollection('resume')

if (!resumeEntry) {
  throw new Error('Missing resume content entry')
}

const resume = resumeEntry.data

const publishedClients = (await getCollection('clients', ({ data }) => data.published)).sort(
  (a, b) => {
    const left = b.data.endDate?.getTime() ?? b.data.startDate?.getTime() ?? 0
    const right = a.data.endDate?.getTime() ?? a.data.startDate?.getTime() ?? 0

    return left - right
  }
)

const renderedClients = await Promise.all(
  publishedClients.map(async client => ({
    client,
    Content: (await render(client)).Content,
  }))
)

const [rawGivenName = resume.name, ...familyNameParts] = resume.name.split(' ')
const givenName = rawGivenName
const familyName = familyNameParts.join(' ') || rawGivenName
const pageTitle = `Resume for ${resume.name}`
const pageDescription = `Curriculum vitae/resume for ${resume.name}`
const path = '/resume'

const socialEntries = [
  { label: 'GitHub', url: resume.social.github },
  { label: 'LinkedIn', url: resume.social.linkedin },
  { label: 'X', url: resume.social.x },
  { label: 'YouTube', url: resume.social.youtube },
  { label: 'Stack Overflow', url: resume.social.stackoverflow },
].filter((entry): entry is { label: string; url: string } => Boolean(entry.url?.trim()))

const formatMonthYear = (date?: Date) =>
  date
    ? date.toLocaleDateString('en-US', {
        month: 'long',
        year: 'numeric',
      })
    : 'Present'

const formatDateContent = (date?: Date) => date?.toISOString().slice(0, 7) ?? ''

const splitLocation = (location?: string) => {
  if (!location) {
    return { locality: '', region: '' }
  }

  const parts = location.split(',').map(part => part.trim())
  const locality = parts.shift() ?? ''

  return {
    locality,
    region: parts.join(', '),
  }
}
---

<!doctype html>
<html lang="en" data-theme="light" class="min-h-full overflow-y-auto">
  <head>
    <HeadContent pageTitle={pageTitle} pageDescription={pageDescription} path={path} />
  </head>
  <body
    id="resumeSubject"
    itemtype="http://schema.org/Person"
    class="min-h-full overflow-y-auto font-sans leading-6 [font-smoothing:antialiased] md:flex md:justify-center print:block"
  >
    <div class="bg-white mx-auto w-full max-w-204 p-4 md:my-8 print:m-0 print:max-w-[21cm] print:p-[1.3cm]">
      <header id="personalDetails" itemscope itemref="resumeSubject" class="relative">
        <h1 id="subjectName" itemprop="name" class="text-[2rem] leading-[2.2rem]">
          <span itemprop="givenName">{givenName.toUpperCase()}</span>
          <span itemprop="familyName">{familyName.toUpperCase()}</span>
        </h1>
        <div
          id="jobTitle"
          class="accent font-sans text-[1.5em] font-bold tracking-[0.5px]"
          itemprop="jobTitle"
        >
          {resume.title}
        </div>
        <dl id="personalInfo" class="flex flex-col md:flex-row print:flex-row">
          <a
            itemprop="email"
            href={`mailto:${resume.email}`}
            class="mt-[0.4em] flex flex-row underline decoration-dotted md:mt-0 print:mt-0 print:no-underline"
          >
            <dt aria-label="email" class="flex items-center">
              <svg
                width="18px"
                height="18px"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 -2.5 20 20"
              >
                <g
                  stroke="none"
                  stroke-width="1"
                  fill-rule="evenodd"
                  transform="translate(-340.000000, -922.000000)"
                >
                  <g transform="translate(56.000000, 160.000000)">
                    <path
                      d="M294,774.474 L284,765.649 L284,777 L304,777 L304,765.649 L294,774.474 Z M294.001,771.812 L284,762.981 L284,762 L304,762 L304,762.981 L294.001,771.812 Z"
                      id="email-[#1572]"></path>
                  </g>
                </g>
              </svg>
            </dt>
            <dd id="emailLabel" class="ml-1.25 inline">{resume.email}</dd>
          </a>
          <a
            id="locationWrapper"
            itemprop="homeLocation"
            itemscope
            href={resume.mapLink}
            class="mt-[0.4em] flex flex-row underline decoration-dotted md:mt-0 md:ml-1.75 print:mt-0 print:ml-1.75 print:no-underline"
          >
            <dt aria-label="location" class="flex items-center">
              <svg
                height="18px"
                width="18px"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <g>
                  <path
                    d="M12,1C7.58,1,4,4.58,4,9c0,7.08,8,14,8,14s8-6.92,8-14C20,4.58,16.42,1,12,1z M12,12c-1.66,0-3-1.34-3-3s1.34-3,3-3s3,1.34,3,3S13.66,12,12,12z"
                  ></path>
                </g>
              </svg>
            </dt>
            <dd id="locationLabel" class="ml-0.5 inline">{resume.location}</dd>
          </a>
          <a
            id="telephoneWrapper"
            itemprop="telephone"
            itemscope
            href="tel:+8889871881"
            class="mt-[0.4em] flex flex-row underline decoration-dotted md:mt-0 md:ml-2.5 print:mt-0 print:ml-2.5 print:no-underline"
          >
            <dt aria-label="telephone" class="flex items-center">
              <svg
                height="18px"
                width="18px"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <g>
                  <path
                    class="st0"
                    d="M256,47.18C127.063,47.18,0,97.628,0,155.555c0,49.742,0,54.334,0,54.644c0,13.168,10.67,23.838,23.838,23.838h90.602c13.168,0,23.837-10.67,23.837-23.838v-41.116c0-12,8.93-22.132,20.83-23.647c0,0,32.619-6.7,96.893-6.7s96.892,6.7,96.892,6.7c11.901,1.514,20.83,11.647,20.83,23.647V210.2c0,13.168,10.67,23.838,23.837,23.838h90.602c13.168,0,23.838-10.67,23.838-23.838c0-0.311,0-4.903,0-54.644C512,97.628,384.938,47.18,256,47.18z"
                  ></path>
                  <path
                    d="M348.499,210.2v-39.913l-0.687-0.142c-0.247-0.049-31.55-6.184-91.812-6.184c-60.262,0-91.564,6.134-91.876,6.198l-0.622,0.127V210.2c0,27.057-22.012,49.062-49.062,49.062H51.39v141.992c0,35.109,28.458,63.566,63.56,63.566H397.05c35.102,0,63.56-28.458,63.56-63.566V259.262h-63.05C370.51,259.262,348.499,237.257,348.499,210.2z M331.057,368.105v33.92h-33.913v-33.92H331.057z M331.057,314.465v33.921h-33.913v-33.921H331.057z M331.057,260.833v33.913h-33.913v-33.913H331.057z M272.96,368.105v33.92h-33.913v-33.92H272.96z  M272.96,314.465v33.921h-33.913v-33.921H272.96z M239.047,294.746v-33.913h33.913v33.913H239.047z M214.863,368.105v33.92H180.95v-33.92H214.863z M214.863,314.465v33.921H180.95v-33.921H214.863z M214.863,260.833v33.913H180.95v-33.913H214.863z"
                  ></path>
                </g>
              </svg>
            </dt>
            <dd id="telephoneLabel" class="ml-0.75 inline">1 (888) 987-1881</dd>
          </a>
        </dl>
        <ul id="actions" class="hidden md:absolute md:right-5 md:top-5 md:flex md:flex-row print:hidden">
          <li id="download" class="action md:mr-5">
            <a id="downloadLink" class="actionBtn" href="pdf/resume.pdf">
              <svg
                height="28px"
                width="28px"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <g>
                  <path
                    d="M243.591,309.362c3.272,4.317,7.678,6.692,12.409,6.692c4.73,0,9.136-2.376,12.409-6.689l89.594-118.094c3.348-4.414,4.274-8.692,2.611-12.042c-1.666-3.35-5.631-5.198-11.168-5.198H315.14c-9.288,0-16.844-7.554-16.844-16.84V59.777c0-11.04-8.983-20.027-20.024-20.027h-44.546c-11.04,0-20.022,8.987-20.022,20.027v97.415c0,9.286-7.556,16.84-16.844,16.84h-34.305c-5.538,0-9.503,1.848-11.168,5.198c-1.665,3.35-0.738,7.628,2.609,12.046L243.591,309.362z"
                  ></path>
                  <path
                    d="M445.218,294.16v111.304H66.782V294.16H0v152.648c0,14.03,11.413,25.443,25.441,25.443h461.118c14.028,0,25.441-11.413,25.441-25.443V294.16H445.218z"
                  ></path>
                </g>
              </svg>
            </a>
          </li>
          <li class="action md:inline">
            <button id="printBtn" class="actionBtn" onclick="window.print()">
              <svg
                width="28px"
                height="28px"
                viewBox="0 0 512 512"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g>
                  <path
                    d="M105.037,367.926L105.037,367.926l-0.24,0.001v80.383c0,8.592,6.967,15.556,15.559,15.556h271.289c8.592,0,15.559-6.965,15.559-15.556v-80.383H106.275L105.037,367.926z"
                  ></path>
                  <rect x="136.203" y="108.761" class="st0" width="239.18" height="15.99"></rect>
                  <polygon
                    class="st0"
                    points="136.443,156.731 136.443,156.732 136.203,156.732 136.203,173.386 375.383,173.386 375.383,156.732 137.422,156.732"
                  ></polygon>
                  <path
                    class="st0"
                    d="M431.846,207.957V48.134H81.836l-1.442-0.001v0.001h-0.24v159.822H0v191.951h80.277v-63.959h350.244l1.201,0.001v63.958H512V207.957H431.846z M176,268.134c0,11.045-8.953,20-20,20c-11.047,0-20-8.955-20-20c0-11.047,8.953-20,20-20C167.047,248.134,176,257.087,176,268.134z M112,268.134c0,11.045-8.953,20-20,20c-11.047,0-20-8.955-20-20c0-11.047,8.953-20,20-20C103.047,248.134,112,257.087,112,268.134z M112.135,204.7V80.115h287.73v124.586H113.074L112.135,204.7z"
                  ></path>
                </g>
              </svg>
            </button>
          </li>
        </ul>
      </header>
      <main>
        <section class="mt-3" itemscope itemref="resumeSubject" itemtype="http://schema.org/ItemList">
          <h2>SUMMARY</h2>
          <hr class="sectionHr mb-2 h-0.5 w-full" />
          <p itemprop="description" itemref="resumeSubject">
            {resume.summary}
          </p>
        </section>
        <section id="experience" class="mt-3">
          <h2>EXPERIENCE</h2>
          <hr class="sectionHr mb-2 h-0.5 w-full" />
          {
            renderedClients.map(({ client, Content }, index) => {
              const location = splitLocation(client.data.location)
              return (
                <div
                  id={`experienceItem-${index + 1}`}
                  class="mainItem mb-2.5 last:mb-0"
                  itemprop="worksFor"
                  itemscope
                  itemref="resumeSubject"
                  itemtype="http://schema.org/Organization"
                >
                  <h3
                    id={`role-${index + 1}`}
                    itemprop="Role"
                    itemref={`experienceItem-${index + 1}`}
                    itemscope
                    itemtype="https://schema.org/EmployeeRole"
                  >
                    <span itemprop="roleName">
                      {client.data.role ?? client.data.businessType ?? client.data.displayName}
                    </span>
                  </h3>
                  <div class="text-danger-offset mb-px font-sans font-bold tracking-[1px]" itemprop="legalName">
                    {client.data.displayName}
                  </div>
                  <div class="mainDetails mb-0.75 flex flex-row">
                    <span
                      class="mainDetailHeader flex flex-row"
                      itemprop="Role"
                      itemscope
                      itemtype="https://schema.org/EmployeeRole"
                    >
                      <span>
                        <svg
                          width="18px"
                          height="18px"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M6 2C6 1.44772 6.44772 1 7 1C7.55228 1 8 1.44772 8 2V3H16V2C16 1.44772 16.4477 1 17 1C17.5523 1 18 1.44772 18 2V3H19C20.6569 3 22 4.34315 22 6V20C22 21.6569 20.6569 23 19 23H5C3.34315 23 2 21.6569 2 20V6C2 4.34315 3.34315 3 5 3H6V2ZM16 5V6C16 6.55228 16.4477 7 17 7C17.5523 7 18 6.55228 18 6V5H19C19.5523 5 20 5.44772 20 6V9H4V6C4 5.44772 4.44772 5 5 5H6V6C6 6.55228 6.44772 7 7 7C7.55228 7 8 6.55228 8 6V5H16ZM4 11V20C4 20.5523 4.44772 21 5 21H19C19.5523 21 20 20.5523 20 20V11H4Z"
                          />
                        </svg>
                      </span>
                      <span class="mainDetailText ml-1 text-[0.75em]">
                        <time
                          itemprop="startDate"
                          itemtype="http://schema.org/startDate"
                          datetime={formatDateContent(client.data.startDate)}
                        >
                          {formatMonthYear(client.data.startDate)}
                        </time>{' '}
                        -{' '}
                        <time
                          itemprop="endDate"
                          itemtype="http://schema.org/endDate"
                          datetime={formatDateContent(client.data.endDate)}
                        >
                          {formatMonthYear(client.data.endDate)}
                        </time>
                      </span>
                    </span>
                    {client.data.location && (
                      <a
                        class="detailLocationAnchor ml-2.5 flex flex-row underline decoration-dotted"
                        href={client.data.website ?? ''}
                        itemprop="location"
                        itemscope
                        itemtype="http://schema.org/PostalAddress"
                      >
                        <span class="mainDetailIcon">
                          <svg
                            height="18px"
                            width="18px"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                          >
                            <g>
                              <path d="M12,1C7.58,1,4,4.58,4,9c0,7.08,8,14,8,14s8-6.92,8-14C20,4.58,16.42,1,12,1z M12,12c-1.66,0-3-1.34-3-3s1.34-3,3-3s3,1.34,3,3S13.66,12,12,12z" />
                            </g>
                          </svg>
                        </span>
                        <span class="mainDetailText ml-1 text-[0.75em]">
                          <span itemprop="addressLocality">{location.locality}</span>
                          {location.region && (
                            <>
                              , <span itemprop="addressRegion">{location.region}</span>
                            </>
                          )}
                        </span>
                      </a>
                    )}
                  </div>
                  <div class="mainDetailContent experienceDetailContent" itemprop="description">
                    <Content />
                  </div>
                </div>
              )
            })
          }
        </section>
        <section class="mt-3" itemscope itemref="resumeSubject" itemtype="http://schema.org/ItemList">
          <h2>SKILLS</h2>
          <hr class="sectionHr mb-2 h-0.5 w-full" />
          <ul class="asideList pl-0">
            {
              resume.skills.map((skill: (typeof resume.skills)[number]) => (
                <li
                  class="asideItem mt-1.25 flex list-none flex-row first:mt-0"
                  itemref="resumeSubject"
                  itemscope
                  itemprop="knowsAbout"
                  itemtype="http://schema.org/knowsAbout"
                >
                  <span class="asideContent ml-2.5">
                    <h3 class="asideHeader text-[1.1em]">{skill.lead}</h3>
                    <div>
                      <p>{skill.text}</p>
                    </div>
                  </span>
                </li>
              ))
            }
          </ul>
        </section>
        <section
          id="languages"
          class="mt-3"
          itemscope
          itemref="resumeSubject"
          itemtype="http://schema.org/ItemList"
        >
          <h2>LANGUAGES</h2>
          <hr class="sectionHr mb-2 h-0.5 w-full" />
          <ul class="skillList ml-1.25 pl-0">
            {
              resume.languages.map((language: (typeof resume.languages)[number]) => (
                <li
                  class="skillItem mb-1.25 list-none font-semibold last:mb-0"
                  itemref="resumeSubject"
                  itemscope
                  itemprop="knowsAbout"
                  itemtype="http://schema.org/knowsAbout"
                >
                  <span class="skillItemAnchor underline decoration-dotted">{language}</span>
                </li>
              ))
            }
          </ul>
        </section>
        <section
          id="socialSection"
          class="mt-3"
          itemscope
          itemref="resumeSubject"
          itemtype="http://schema.org/ItemList"
        >
          <h2>SOCIAL</h2>
          <hr class="sectionHr mb-2 h-0.5 w-full" />
          {
            socialEntries.length > 0 ? (
              <ul id="socialList" class="pl-0 md:mt-2.5">
                {socialEntries.map(entry => (
                  <li
                    class="socialItem mt-3 list-none first:mt-0"
                    itemref="resumeSubject"
                    itemscope
                    itemprop="sameAs"
                    itemtype="http://schema.org/WebSite"
                  >
                    <div class="socialDetailText font-bold">{entry.label}</div>
                    <a itemprop="url" title={entry.label} rel="me" href={entry.url}>
                      <span class="socialDetailTextLink underline decoration-dotted">{entry.url}</span>
                    </a>
                  </li>
                ))}
              </ul>
            ) : (
              <p>No social profiles available.</p>
            )
          }
        </section>
      </main>
    </div>
  </body>
</html>
