---
import BaseLayout from '@layouts/BaseLayout.astro'
import Icon from '@components/Icon/index.astro'

const pageTitle = 'Newsletter Sign-Up'
const path = '/newsletter'
const description =
  'Sign up for the Webstack Builders newsletter to stay updated on the latest news and updates.'
---

<BaseLayout pageTitle={pageTitle} path={path} description={description}>
<div class="mx-auto px-4 sm:px-6 lg:px-8 py-2 md:py-4">
  <header class="text-center max-w-2xl mx-auto mb-8">
    <div class="inline-flex items-center justify-center w-18 h-18 rounded-full bg-primary/10 mb-5">
      <Icon
        icon="document"
        color="page-inverse"
        size={12}
      />
    </div>
    <h1 class="text-4xl md:text-5xl font-bold text-page-inverse mb-4">{pageTitle}</h1>
    <p class="text-lg text-content-offset leading-relaxed mb-4">
      {description}
    </p>
  </header>
</BaseLayout>
