---
import { ClientRouter } from 'astro:transitions'
import { isProd } from '@lib/config/environmentServer'
import Analytics from '@components/Analytics/index.astro'
import Breadcrumbs from '@components/Breadcrumbs/index.astro'
import Container from '@components/Layout/Container/index.astro'
import CookieConsent from '@components/Consent/Banner/index.astro'
import Footer from '@components/Footer/index.astro'
import HeadContent from '@components/Head/index.astro'
import Header from '@components/Header/index.astro'
import Content from '@components/Layout/Content/index.astro'
import PrefetchOfflinePage from '@components/Pwa/PrefetchOfflinePage/index.astro'
import PwaTitleBar from '@components/Pwa/TitleBar/index.astro'
import RegisterServiceWorker from '@components/Pwa/ServiceWorker/index.astro'
import Skip from '@components/Layout/Skip/index.astro'
import ThemePicker from '@components/ThemePicker/index.astro'
//import VtBotDebug from 'astro-vtbot/components/VtBotDebug.astro'
//import Linter from 'astro-vtbot/components/Linter.astro'

import '@styles/index.css'
import '@styles/icons.css'

export interface Props {
  author?: string
  /** Optional title override for the breadcrumbs UI */
  breadcrumbTitle?: string
  /** Hide breadcrumbs on mobile viewports (sm and below) */
  hideBreadcrumbsOnMobile?: boolean
  /** Enforce that child is passed to slot */
  children: unknown
  /** Optional metadata for articles */
  contentType?: 'article' | 'website'
  /** Meta description */
  description: string
  /** Last modified date */
  modifiedDate?: Date
  /** Whether search engines should ignore the page, default: false */
  noindex?: boolean
  /**
   * Meta page title displayed in the browser tab and window title bar,
   * and used in social cards and Markdown layout for the <title> element
   */
  pageTitle: string
  /** The URL path component e.g. 'articles/my-article' */
  path: string
  /** Publication date for articles */
  publishDate?: Date
  /** Specifies the main, high-level category or theme of the article */
  section?: string
  /** Content tags */
  tags?: string[]
}

const {
  author,
  breadcrumbTitle,
  contentType,
  description,
  hideBreadcrumbsOnMobile = false,
  modifiedDate,
  noindex,
  pageTitle,
  path,
  publishDate,
  section,
  tags,
} = Astro.props
---

<!doctype html>
<html lang="en" data-theme="light">
  {/* Hack to allow comments in Astro file between <head> and <body> */}
  <>
    <head>
      <HeadContent
        pageTitle={pageTitle}
        path={path}
        description={description}
        {...noindex && { noindex }}
        {...contentType && { contentType }}
        {...publishDate && { publishDate }}
        {...modifiedDate && { modifiedDate }}
        {...author && { author }}
        {...section && { section }}
        {...tags && { tags }}
      />
      {/* Client-side router for Astro pages (enables partial page reloads) */}
      {/* Must be placed at the end of the <head> to avoid blocking page rendering */}
      {/* <VtBotDebug /> */}
      <ClientRouter />
      {/* <Linter expanded /> */}
    </head>
    {/* Visibility set to hidden is a FOUC trick. It is set to 'visible' once */}
    {/* the current data-theme value for the <> element is checked and set */}
    {/* in components/Head/ThemeInit.astro */}
    <body class="invisible">
      {/* Skip to main content link for accessibility */}
      <Skip />
      {/* Cookie Consent Overlay */}
      <CookieConsent />
      {/* Sets Window Controls Overlay API for PWA title bar */}
      <PwaTitleBar />
      <ThemePicker />
      {/* Site header and main content */}
      <Container id="main-content">
        <Header path={path} />
        <div class:list={[hideBreadcrumbsOnMobile ? 'hidden sm:block' : 'block']}>
          <Breadcrumbs path={path} pageTitle={breadcrumbTitle ?? pageTitle} />
        </div>
        {/* SLOT: default (unnamed) - Main page content */}
        <Content>
          <slot />
        </Content>
        <Footer />
      </Container>
      {isProd() && (
        <>
          <Analytics />
          <RegisterServiceWorker />
          <PrefetchOfflinePage />
        </>
      )}
    </body>
  </>
</html>
