---
import CookieConsent from "@components/CookieConsent/CookieConsent.astro"
import Head from "@components/Head/Head.astro"
import Header from "@components/Header/Header.astro"
import Footer from "@components/Footer/Footer.astro"
import GeneratedSprites from "@components/GeneratedSprites.astro"
import PwaTitleBar from "@components/PwaTitleBar.astro"
import Breadcrumbs from "@components/Breadcrumbs.astro"

import "@styles/global.css"
import "@styles/index.scss"

export interface Props {
  pageTitle: string,
  /** The URL path component e.g. 'articles/my-article' */
  path: string,
  /** Enforce that child is passed to slot */
  children: any,
}

const { pageTitle, path } = Astro.props
---

<style>
  /* Container constraints for header and footer elements */
  .layout :global(.header),
  .layout :global(.footer) {
    flex: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem; /* 1200px at 16px font-size */
    width: 90%;
  }
</style>

<!DOCTYPE html>
<html lang="en">
  <Head pageTitle={pageTitle} path={path} />
  <body>
    <a href="#main" class="sr-only focus:not-sr-only focus:absolute focus:top-0 focus:left-1/2 focus:-translate-x-1/2 focus:px-6 focus:py-4 focus:outline-none focus:z-50 focus:bg-blue-600 focus:text-white focus:rounded">skip to main content</a>
    <div hidden>
      <GeneratedSprites />
    </div>
    {/* Sets Window Controls Overlay API for PWA title bar */}
    <PwaTitleBar />
    {/* Site header and main content */}
    <div class="flex flex-col min-h-screen relative transition-transform duration-300 ease-[cubic-bezier(0.25,0.46,0.45,0.94)]" role="document" style="padding-top: env(titlebar-area-height, 0);">
      <Header path={path} />
      <div class="mx-auto max-w-[75rem] w-[90%] mt-4">
        <Breadcrumbs path={path} pageTitle={pageTitle} />
      </div>
      <main id="main" class="flex flex-col flex-[0_1_auto] mx-auto max-w-[75rem] w-[90%]" role="main" tabindex="-1">
        <slot />
      </main>
      <Footer />
    </div>
    {/* Cookie Consent Overlay */}
    <CookieConsent />
    <script>
      {/* Add global unhandled exception and unhandled rejection handlers */}
      import { addErrorEventListeners } from "@lib/utils/errorListeners"
      addErrorEventListeners()
      {/* Site script. All scripts to include in the site must be included here. */}
      {/** Client scripts */}
      {/* import { heroSvgAnimation } from './animations' */}
      {/* import { initImagesLazyLoad } from './modules/lazyload' */}
      {/* import { registerShareHighlight } from './modules/share-highlight' */}
      {/* import { registerServiceWorker } from './modules/serviceWorker/registerer' */}
      {/* import { contactInit } from './pages/contact' */}
      {/*  @TODO: Are there any tasks that we need to pause using visibility API like animations when user leaves page? See modules/visibility.ts */}
      {/* Scripts that will be execute on first user interaction with the site */}
      {/* or after a delay (default 5 seconds), whichever occurs first. */}
      import { addDelayedExecutionScripts } from "@lib/utils/delayedLoader"
      import { showCookieConsentModal } from "@components/CookieConsent/handlers"
      addDelayedExecutionScripts([showCookieConsentModal])
    </script>
  </body>
</html>
