---
export type Props = {
  items: {
    text: string
    color: string
  }[]
  classes?: {
    ul?: string
    li?: string
  }
  size?: number
}

type ColoredMarkerListItem = Props['items'][number]

const { items, classes, size = 2 }: Props = Astro.props
const coloredItems: ColoredMarkerListItem[] = items.map((item: ColoredMarkerListItem) => ({
  text: item.text,
  color: item.color,
}))

const ulClass = ["list-none pl-0 text-content mt-4 mb-2 space-y-2", classes?.ul]
const liClass = ["flex items-start", classes?.li]
---

<ul class:list={ulClass}>
  {
    coloredItems.map((item) => (
      <li class:list={liClass}>
        <span class:list={[`w-${size} h-${size} rounded-full mt-2 mr-3 shrink-0`, item.color]} />
        <span>{item.text}</span>
      </li>
    ))
  }
</ul>
