---
export type Props = {
  items: {
    lead?: string
    text: string
    color?: string
  }[]
  classes?: {
    ul?: string
    li?: string
    em?: string
    icon?: string
    text?: string
  }
  size?: number
}

const { items, classes, size = 2 }: Props = Astro.props

const ulClass = ["list-none pl-0 text-content mt-4 mb-2 space-y-2", classes?.ul]
const liClass = ["flex items-start", classes?.li]
const emClass = ["mr-2 not-italic font-bold", classes?.em]
const markerSizeInRem = `${size * 0.25}rem`
const markerStyle = `width: ${markerSizeInRem}; height: ${markerSizeInRem};`
const iconClass = ["rounded-full mt-2 mr-3 shrink-0", classes?.icon]
const textClass = classes?.text ? [classes.text] : []
---

<ul class:list={ulClass}>
  {
    items.map((item) => (
      <li class:list={liClass}>
        <span class:list={[iconClass, item.color]} style={markerStyle} />
        {item.lead && <em class:list={emClass}>{item.lead}</em>}
        <span class:list={textClass}>{item.text}</span>
      </li>
    ))
  }
</ul>
