---
import { getMarkerComponent } from '@components/List/server'

export type Props = {
  items: {
    text: string
    icon?: string
    color: string
  }[]
  classes?: {
    ul?: string
    li?: string
    svg?: string
  }
  size?: number
}

type PlainIconListItem = Props['items'][number]

const props: Props = Astro.props
const ulClass = ["list-none pl-0 space-y-3 mb-0 mt-2", props.classes?.ul]
const liClass = ["flex items-start gap-3", props.classes?.li]
const markerClasses = props.classes?.svg

const resolvedItems = props.items.map(({ text, icon, color }: PlainIconListItem) => ({
  text,
  color,
  markerComponent: getMarkerComponent(icon),
}))
---

<ul class:list={ulClass}>
  {
    resolvedItems.map(({ text, markerComponent: MarkerComponent, color }) => (
      <li class:list={liClass}>
        <MarkerComponent color={color} size={props.size ?? 5} classes={markerClasses} />
        <span>{text}</span>
      </li>
    ))
  }
</ul>