---
import Icon from "@components/Icon/index.astro"

export type Props = {
  items: {
    lead?: string
    text: string
    color?: string
  }[]
  classes?: {
    ul?: string
    li?: string
    em?: string
  }
  style?: {
    hideIcon?: boolean
  }
}

const { items, classes, style }: Props = Astro.props

const ulClass = ["border border-trim rounded-lg overflow-hidden divide-y divide-trim", classes?.ul]
const liClass = ["p-4 bg-page-base flex items-center justify-between group hover:bg-page-offset transition-colors", classes?.li]
const emClass = ["text-page-inverse font-bold not-italic block mb-0.5", classes?.em]
const textClass = ["text-content"]
---

<ul class:list={ulClass}>
  {
    items.map((item) => (
      <li class:list={liClass}>
        <div class="pr-8">
          {item.lead && <em class:list={emClass} set:html={item.lead}></em>}
          <span class:list={textClass} set:html={item.text}></span>
        </div>
        {!style?.hideIcon && (
          <div class="pr-8">
            <Icon
              icon={"info"}
              color={"page-inverse"}
              size={8}
              classes={`group-hover:${item.color ?? "text-primary"} transition-colors`}
            />
          </div>
        )}
      </li>
    ))
  }
</ul>
